.sections__container {
    width: 100%;
    max-width: 2000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    padding-top: 6em;
}

.sections__articleOne {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1em;
}

.sections__articleOne h1 {
    color: var(--body-white);
}

.sections__articleOne p {
    font-size: 0.9em;
    font-weight: 600;
    background-color: var(--body-white);
    color: var(--body-gray);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.5s ease;
}

.sections__articleOne p:hover {
    background-color: var(--text-color-blue);
    color: var(--body-white);
    transition: 0.5s ease;
}

/* sections__articleTwo */

.sections__articleTwo {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 2em 2em;
    gap: 0;
}


.cardSection__container {
    position: relative;
    width: calc(100% /3);
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    overflow: hidden;
    transition: 0.5s ease;
    padding: 0;

}


.cardSection__container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    object-fit: cover;
    opacity: 1;
    transition: 0.8s ease;
    z-index: 3;
}


.cardSection__link {
    position: absolute;
    color: var(--text-color-white);
    z-index: 5;
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: var(--body-white);
    letter-spacing: 5px;
}

.cardSection__link img {
    width: 2.5em;
    height: 2.5em;
}

.cardSection__updateDelete {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, rgb(0, 0, 0), transparent);
    padding: 1em;
    z-index: 5;
}

.cardSection__updateDelete p {
    color: var(--body-white);
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
}

.cardSection__updateDelete p:hover {
    color: var(--body-red);
}